
body{
	margin: 0;
	width: 100%;
	font-family: 'Open Sans',arial,sans-serif;
}
div{
	display: block;
}

section{
	display: block;
	/*background-color:#333333;*/
	border-bottom: 1px solid #3bacdc;
}

i{
	color: white;
}

a{
	text-decoration: none;
	color: white;
	font-weight: bolder;
	text-shadow: 0px 1px 3px #4596FF;
}

a:link{
	color: white;
}



/*a:active{
	color: black;
}*/



li,ul{
	list-style: none;
}

h1{
	font-size: 2em;
	margin:0 auto;
	/*text-align: center;*/
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	clear: both;
	color: #3bacdc;
	
}

h2{
	font-size: 1.8em;
	margin:0 auto;
	text-align: center;
	padding: 30px;
	clear: both;
	color: #60bde6;/*#3bacdc;*/
	/*text-shadow: 0px 1px 3px #4596FF;*/
}

.imgfull{
	width: 100%;
}
/* Header */

.header{
	height: 80px;
	width:100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: #9bcce6;/*#c9e7f7*/
	margin: 0 auto;
	border-bottom: 1px solid #d9d7d6; 

	/*color: white;
	font-weight: bolder;
	text-shadow: 0px 1px 3px #4596FF;*/
}

/*  hover things  */
/*navigation*/
a.mainnav:hover, i:hover{
	/*color:#4596FF;*/
	color: #3bacdc;
	font-weight: bolder;
	text-shadow: 0px 3px 3px white;
}

a.inthepage{
	color: #3bacdc;
	font-weight: bolder;
	text-shadow: 0px 3px 3px white;
}

a.singlelink:hover{
	/*color:;#999999*/
	background-color: white;
	color:#4596FF; 
	font-weight: bolder;
	text-shadow: 0px 3px 3px white;
	border:1px solid #4596FF;
}

.projectname:hover{
	background-color: #d9d7d6;
	opacity: 0.8;
	color: black;
	font-weight: bolder;

}



@media only screen and (min-width: 960px){
.navcontainer{
	height: 80px;
	width: 960px;
	margin: 0 auto;
	/*background-color: red;*/
	position: relative;
	
}

.portfoliocontainer{
	width: 960px;/*960/960*/
	height: 2050px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}

/*--------------  Robot Updated  ----------------*/

.robotcontainer{
	width: 100%;
	max-width:960px;/*960/960*/
	height: 2000px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}



#robotheader.projectsec{
	
	height: 100px;
	text-align: center;
		
}

.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#robotbackground.projectsec{
	
	height: 300px;
	padding-bottom: 20px;
		
}

#robotbackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#robotbackground.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

#robotlogo.projectsec{
	
	height: 850px;
	padding-bottom: 20px;
		
}

#robotlogo.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}



#robotlogo.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

#robotlogo.projectsec .logoname{
	/*margin: 10px;*/
	width: 100%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#robotlogo.projectsec .logoimg{
	/*margin: 10px;*/
	width: 90%;
	margin: 0 auto;
	/*padding-left: 10%;
	padding-right:10%;*/ 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	/*float: left;*/
	text-align: center;
	
}



#robotpdf.projectsec{
	
	height: 650px;
	/*background-color: black;*/
		
}

#robotpdf.content{
	width: 100%;
	height: 200px;
	
	
}


/*--------------  Robot Updated Done----------------*/

/*--------------  Chair  ----------------*/

.chaircontainer{
	width: 100%;
	max-width:960px;/*960/960*/
	height: 2600px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}

#chairheader.projectsec{
	
	height: 100px;
	text-align: center;
		
}

.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#chairbackground.projectsec{
	
	height: 250px;
		
}

#chairbackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#chairbackground.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

#chairlogo.projectsec{
	
	height: 680px;
		
}

#chairlogo.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#chairlogo.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

#chairlogo.projectsec .logoname{
	/*margin: 10px;*/
	width: 50%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logoimg{
	/*margin: 10px;*/
	width: 30%;
	padding-left: 10%;
	padding-right:10%; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logoimg2{
	/*margin: 10px;*/
	width: 50%;
	padding-left: 0%;
	padding-right:0%; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logostep{
	
	width: 100%;
	margin: 0 auto;
	height: 100px;
	
}

#chairlogo.projectsec .logostep .number{
	
	width: 20%;
	height: 70px;
	line-height: 70px;
	float: left;
	color: #3b3b3b;
	font-size: 1.2em;
	color: white;
	background-color: #c9e7f7;
	/*font-weight: regular;*/
	text-shadow: 0px 1px 3px #4596FF;



}

#chairlogo.projectsec .logostep .steptext{
	
	width: 80%;
	height: 70px;
	/*text-align: center;*/
	float: left;

}

#chairlogo.projectsec .logostep .substep{
	text-align: center;
	font-size: 0.9em;
	height: 30px;
	line-height: 30px;
	
}

#chairlogo.projectsec .logostep .substeptext{
	
	width: 80%;
	height: 30px;
	/*text-align: center;*/
	float: left;
	font-size: 0.9em;
}

#chairvideo.projectsec{
	
	height: 850px;
	/*background-color: black;*/
		
}

#chairvideo.content{
	width: 100%;
	height: 200px;
	
	
}

#chairpdf.projectsec{
	
	height: 650px;
	/*background-color: black;*/
		
}

#chairpdf.content{
	width: 100%;
	height: 200px;
	
	
}


/*--------------  Chair Done----------------*/

/*----------------- Journal Pic------------------*/

#journallogo.projectsec .logoimg{
	
	width: 30%;
	padding-left: 10%;
	padding-right:10%; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#journallogo.journallogopic{
	margin: 0 auto;
	width: 100%;
	max-width: 150px;
}

#journalsubcover.projectsec .textimg{
	
	width: 70%;
	
	margin: 0 auto;
	padding-top: 20px;
	
	position: relative;
	
}
/*----------------- Journal Pic Done------------------*/

/*----------------- Single Serve ------------------*/

#singlelogo.projectsec{
	
	height: 650px;
		
}

.singlecontainer{
	width: 100%;
	max-width:960px;/*960/960*/
	height: 1050px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}
/*----------------- Single Serve Done------------------*/

/*--------------  about  ----------------*/

.aboutcontainer{
	width: 100%;
	max-width:960px;/*960/960*/
	height: 550px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}



.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#aboutbackground .projectsec{
	
	height: 500px;
		
}

#aboutbackground .content{
	width: 100%;
	height: 500px;
	/*background-color: yellow;*/
	/*position: relative;*/
	
}

#aboutbackground.projectsec .text{
	margin: 10px;
	width: 100%;
	/*padding-left: 15%;*/
	margin: 0 auto;
	position: relative;
	
}

.selfimg{
	width: 40%;
	float: right;
	margin-left: 10%;
	margin-left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.selfimg2{
	display: none;
}

.selftext{
	width: 50%;
	float: right;
	margin:0;
	position: absolute;
	left: 0;
	top: 0;


}

/*--------------  about Done----------------*/
/*--------------  sitelog---------------*/

.sitelogo{
	height: 80px;
	width: 300px;/*200/960*/
	/*background-color: yellow;*/
	/*float: left;*/
	margin-left: 4px;
	margin-right: 10px;
	position: absolute;
	left: 5px;
	top: 0;
	
}

h6{
	font-size: 2.2em;
	height: 80px;
	line-height: 80px;
	margin: 0;
	color: white;
	text-shadow:0px 1px 3px #4596ff;

}

h6 span{
	color: #3bacdc;
	
}
/*-------------- sitelogo done----------------*/

}






img.sitelogo{
	height: 80px;
	width: 200px;
	position: absolute;
	left: 0;
	top: 0;
}
.navbar{
	height: 80px;
	width: 37.5%;/*360/960*/
	margin-left: 10px;
	margin-right: 10px;
	/*background-color: green;*/
	text-align: center;
	float: right;
	
}

.mainnav{
	height: 80px;
	width: 120px;/*120/960*/
	float: left;
	background-color: #9bcce6;/*#c9e7f7*/
	line-height: 80px;
	float: right;
	
}

/* mainpart */



#mechanical,#graphic{
	width: 100%;
	height: 450px;
}

#sketches{
	width: 100%;/*960/960*/
	height: 1130px;
}

.portfolioitem{
	width: 31.25%;/*300/960*/
	height: 300px;
	/*background-color: #888888;*/
	/*opacity: 0.3;*/
	margin: 10px;
	float: left; 
	position: relative;
}

.portfolioicon{
	width: 300px;
	height: 300px;
}

.projectname{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	/*background-color: red;*/

	line-height: 300px;
	font-size: 25px;
	line-height: 300px;
	margin: 0 auto;

	text-align: center;

	opacity: 0;

}


/*  footer  */
.footer{
	width: 100%;
	height: 150px;
	background-color: #9bcce6;/*#c9e7f7;*/
	text-align: center;
	border-top: 1px solid #d9d7d6;
}

.footercontainer{
	width: 960px;
	height: 150px;
	margin: 0 auto;
}

.rights{
	height: 25px;
	width: 100%;
	padding-top: 50px;
	padding-left: 5px;
	margin: 0 auto;
	color: white;
	font-weight: bolder;
	text-shadow: 0px 1px 3px #4596FF;

	text-align: left;
}

.social{
	height:75px;
	width: 100%;/*50/96*/
	/*background-color: #135975;*/
	margin: 0 auto;

	color: white;
	font-weight: bolder;
	text-shadow: 0px 1px 3px #4596FF;
}

.social .buttonlist{
	height: 50px;
	width:152px;
	/*margin: 0 auto;*/
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.social .buttonlist .button{
	color: white;
	float: left;
	margin: 5px;
}

/*--------------  Robot  ----------------*/

/*.robotcontainer{
	width: 100%;
	max-width:960px;
	height: 2050px;
	background-color: black;
	margin: 0 auto;
	padding-top: 80px;
	
}*/

.projectsec{
	width: 100%;
	max-width: 960px;
	

}

#robotbackground .projectsec{
	
	height: 1500px;
		
}

#robotbackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

div.robotbackpic{
	width: 22.2%;
	max-width: 190px;
	
	margin: 10px;
	float: left;
}
img.robotbackpic{
	width: 100%;
	margin: 0 auto;
	
}

.projectsec .text{
	margin: 10px;
	width: 70%;
	float: left;
	padding-left: 10px;


}

/*--------------  Robot Done ----------------*/





/*--------------  Class Journal  ----------------*/

.journalcontainer{
	width: 100%;
	max-width:960px;/*960/960*/
	height: 2750px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}

.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#journalbackground.projectsec{
	
	height: 400px;
		
}

#journalbackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#journalbackground.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

#journallogo.projectsec{
	
	height: 800px;
		
}

#journallogo.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#journallogo.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

#journallogo.projectsec .covername{
	/*margin: 10px;*/
	width: 42%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	margin: 0 auto;
	text-align: center;
	
}

#journallogo.projectsec .textimg{
	
	width: 100%;
	max-width: 300px;
	/*height: 300px;*/
	margin: 0 auto;
	padding-top: 20px;
	/*background-color: black;*/
	position: relative;
	
}

#journallogo.projectsec .textimgsize{
	
	width: 100%
	
	
}

#journallogo.projectsec .logoname{
	
	width: 50%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#journallogo.projectsec .logoname2{
	
	width: 100%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	margin-top: 10px;
	
}



#journallogo.projectsec .logostep{
	
	width: 100%;
	margin: 0 auto;
	height: 100px;
	
}

#journallogo.projectsec .logostep .number{
	
	width: 20%;
	height: 70px;
	line-height: 70px;
	float: left;
	color: #3b3b3b;
	font-size: 1.2em;
	color: white;
	background-color: #c9e7f7;
	/*font-weight: regular;*/
	text-shadow: 0px 1px 3px #4596FF;

	background-color: #3bacdc;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;

}

#journallogo.projectsec .logostep .steptext{
	
	width: 50%;
	height: 70px;
	/*text-align: center;*/
	float: left;

}

#journallogo.projectsec .logostep .substep{
	text-align: center;
	font-size: 0.9em;
	height: 30px;
	line-height: 30px;
	
}

#journallogo.projectsec .logostep .substeptext{
	
	width: 80%;
	height: 30px;
	/*text-align: center;*/
	float: left;
	font-size: 0.9em;
}


#journalsubcover.projectsec{
	
	height: 720px;
		
}

#journalsubcover.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#journalsubcover.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

#journalsubcover.projectsec .covername{
	/*margin: 10px;*/
	width: 70%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	margin: 0 auto;
	text-align: center;
	
}

.subcoversplit{
	width: 100%;
	max-width: 500px;
}







#journalpdf.projectsec{
	
	height: 650px;
	/*background-color: black;*/
		
}

#journalpdf.content{
	width: 100%;
	height: 200px;
	
	
}


/*--------------  Class Journal Done----------------*/

/*--------------  Single Serve  ----------------*/



.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#singleheader.projectsec{
	
	height: 100px;
	text-align: center;
		
}

#singlebackground.projectsec{
	
	height: 280px;
		
}

#singlebackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#singlebackground.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

/*#singlelogo.projectsec{
	
	height: 650px;
		
}*/

#singlelogo.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#singlelogo.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

#singlelogo.projectsec .logoname{
	/*margin: 10px;*/
	width: 100%;
	padding-left: 0;
	font-size: 1.3em;
	/*color: #3bacdc;*/
	margin: 0 auto;
	text-align: center;
	
}

a.singlelink{
	background-color: #3bacdc;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}


#singlelogo.projectsec .logoimg{
	/*margin: 10px;*/
	width: 100%;
	/*padding-left: 10%;
	padding-right:10%; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;*/
}

#singlelogo.projectsec .singlepic{
	width: 100%;
	margin-top: 20px; 


}


/*--------------  Single Serve Done----------------*/

/*--------------  Yo  ----------------*/

.yocontainer{
	width: 100%;
	max-width:960px;/*960/960*/
	height: 1050px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}



.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#yobackground .projectsec{
	
	height: 1500px;
		
}

#yobackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#yobackground.projectsec .text{
	margin: 10px;
	width: 70%;
	padding-left: 15%;
	margin: 0 auto;
	
}

/*--------------  Yo Done----------------*/







