html{
	min-width: 320px;
}

/*----------- WorkHeader -------------*/
#workheader{
	width: 100%;
	height: 91px;
	background-color: white;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
}

#workheader .container{
	width: 100%;/*1200px*/
	height: 280px;

}

#workheader h1{
	font-size: 1.6em;
	padding-top: 10px;
	padding-bottom: 0px;
}

#workheader h3{
	font-size: 0.8em;
}

/*----------- WorkHeader Done-------------*/


/*----------- Project name -------------*/
.workname{
	width: 100%;
	height: 150px;
	background-color: rgba(125,125,125,0.07);
	padding-top: 82px;
}

.workname .container{
	width: 100%;
	max-width: 1200px !important;
	height: 150px;
	border-bottom: 1px rgba(125,125,125,1) dashed ;
}

/*----------- Project name Done-------------*/

/*----------- Background -------------*/
.back{
	width: 100%;
	background-color: rgba(125,125,125,0.06);
}

.backcontainer{
	width: 100%;
	max-width: 1200px !important;
	height: 150px;
	margin: 0 auto;
}

.halftext{
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 10px;
	float: left;
}
.fulltext{
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	display: none;
}

/*----------- Backgound Done-------------*/

/*----------- Section 2 -------------*/
.sec2{
	width: 100%;
	background-color: rgba(125,125,125,0.03);
}

.sec2container{
	width: 100%;
	max-width: 1200px !important;
	height: 150px;
	margin: 0 auto;
}

.sec2 h3{
	margin: 0 auto;
	color: #3ba3ce;
	font-size:1.2em;
	margin-bottom: 20px; 
}

.sec2 img{
	width: 100%;
}

.beforetext{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	float: left;
	text-align: center;
	margin-bottom: 40px;
}

.singlepic{
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}


/*----------- Section 2 Done-------------*/
/*----------- video -------------*/
.video{
	width: 100%;
	background-color: rgba(125,125,125,0.05);
}

.videocontainer{
	width: 100%;
	max-width: 1200px !important;
	height: 150px;
	margin: 0 auto;
}

.video h3{
	margin: 0 auto;
	color: #3ba3ce;
	font-size:1.2em;
	margin-bottom: 20px; 
}

/*----------- video Done-------------*/
/*----------- pdf -------------*/
.pdf{
	width: 100%;
	background-color: rgba(125,125,125,0.05);
}

.pdfcontainer{
	width: 100%;
	max-width: 1200px !important;
	height: 150px;
	margin: 0 auto;
}

.pdf h3{
	margin: 0 auto;
	color: #3ba3ce;
	font-size:1.2em;
	margin-bottom: 20px; 
}

/*----------- pdf Done-------------*/

/*----------- Role -------------*/
.role{
	width: 100%;
	background-color: rgba(125,125,125,0.07);

}

.rolecontainer{
	width: 100%;
	max-width: 1200px !important;
	height: 150px;
	margin: 0 auto;
}

.roletext{
	width: 23%;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
}

.role h3{
	margin: 0 auto;
	color: #3ba3ce;
	font-size:1.2em;
	margin-bottom: 20px; 
}
.info{
	text-align: center;
}


/*----------- Role Done-------------*/
#dashed{
	width: 100%;
	height: 1px;
	max-width: 1200px !important;
	margin: auto;
	border-top: 1px rgba(125,125,125,1) dashed ;

}

.dashed{
	width: 100%;
	height: 1px;
	max-width: 1200px !important;
	margin: auto;
	border-top: 1px rgba(125,125,125,1) dashed ;

}
.dasheddown{
	width: 100%;
	height: 1px;
	max-width: 1200px !important;
	margin: auto;
	border-bottom: 1px rgba(125,125,125,1) dashed ;

}

/*----------- Inpage Work -------------*/
.inpage{
	background-color: white !important;

}

#work.inpage{
	margin-top: 10px;
	height: 300px;
}


/*----------- Inpage Work-------------*/

/*----------- Footer -------------*/
#footer{
	background-color: rgba(125,125,125,0.08);
}


#footer h5{

	text-align: center;
	padding: 0;
	line-height: 60px;
	color: rgba(125,125,125,1);
	padding-top: 50px;
	padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 0;
}

#footer .buttonlist{
	width: 220px;
	height: 30px;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 60px;
}

#footer .button{
	float: left;
	margin-left: 14px;
	margin-right: 14px;
}

#footer a{
	color:rgba(125,125,125,0.5);
	
}

#footer a:hover{
	color:rgb(59,163,206);

	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in;
	-ms-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	
}

/*----------- FOoter done------------*/



/*----------- Robot -------------*/
#robotback{
	height:350px;
}

#robotpic{
	height:550px;
}

#robotpdf{
	height:730px;
}

#robotrole{
	height:400px;
}
/*----------- Robot Done-------------*/

/*----------- chair -------------*/
#chairback{
	height:330px;
}

#chairpic{
	height:800px;
}

#chairvideo{
	height:880px;
}

#chairpdf{
	height:730px;
}

#chairrole{
	height:400px;
}

#chairpic .spic{
	max-width: 200px !important;
	margin: 0 auto;
}

#chairpic .spic2{
	max-width: 300px !important;
	margin: 0 auto;
}


/*----------- chair Done-------------*/

/*----------- journal -------------*/
#journalback{
	height:380px;
}

#journalpic{
	height:980px;
}

#journalcover{
	height:830px;
}


#journalpdf{
	height:730px;
}

#journalrole{
	height:380px;
}

#journalpic .spic{
	max-width: 200px !important;
	margin: 0 auto;
}

#journalpic .spic2{
	max-width: 300px !important;
	margin: 0 auto;
}

#journalpic .inpagebutton{
	width: 260px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;

}

#journalpic a{
	width: 260px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	padding-left:10px;
	padding-right: 10px;
	color:rgba(125,125,125,1);
	border: 1px rgba(125,125,125,1) dashed;
	-webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

}

#journalpic a:hover{

	color:#3ba3ce;
	border-bottom: 3px rgba(59,163,206,0.5) solid;
	-webkit-transition: all 50ms ease-in-out;
	-moz-transition: all 50ms ease-in;
	-ms-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	transition: all 50ms ease-in;

}



#journalcover .spic2{
	max-width: 500px !important;
	margin: 0 auto;
}

#journalcover .inpagebutton{
	width: 260px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;

}

#journalcover a{
	width: 260px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	padding-left:10px;
	padding-right: 10px;
	color:rgba(125,125,125,1);
	border: 1px rgba(125,125,125,1) dashed;
	-webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

}

#journalcover a:hover{

	color:#3ba3ce;
	border-bottom: 3px rgba(59,163,206,0.5) solid;
	-webkit-transition: all 50ms ease-in-out;
	-moz-transition: all 50ms ease-in;
	-ms-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	transition: all 50ms ease-in;

}

/*----------- journal Done-------------*/

/*----------- yo -------------*/
#yoback{
	height:300px;
}

#yopic{
	height:980px;
}

#yocover{
	height:830px;
}


#yopdf{
	height:730px;
}

#yorole{
	height:380px;
}


/*----------- yo Done-------------*/

/*----------- single -------------*/
#singleback{
	height:330px;
}

#singlepic{
	height:930px;
}

#singlecover{
	height:830px;
}


#singlepdf{
	height:730px;
}

#singlerole{
	height:350px;
}

#singlepic .spic{
	max-width: 200px !important;
	margin: 0 auto;
}

#singlepic .spic2{
	max-width: 960px !important;
	margin: 0 auto;
}

#singlepic .inpagebutton{
	width: 260px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;

}

#singlepic a{
	width: 260px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
	padding-left:10px;
	padding-right: 10px;
	color:rgba(125,125,125,1);
	border: 1px rgba(125,125,125,1) dashed;
	-webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

}

#singlepic a:hover{

	color:#3ba3ce;
	border-bottom: 3px rgba(59,163,206,0.5) solid;
	-webkit-transition: all 50ms ease-in-out;
	-moz-transition: all 50ms ease-in;
	-ms-transition: all 50ms ease-in;
	-o-transition: all 50ms ease-in;
	transition: all 50ms ease-in;

}





/*----------- single Done-------------*/
