@media only screen and (min-width: 640px) and (max-width: 960px){
.navcontainer{
	height: 80px;
	width: 90%;
	min-width: 640px !important;
	margin: 0 auto;
	/*background-color: red;*/
	position: relative;
	
}

.portfoliocontainer{
	width: 640px;
	height: 2700px;/*2050+320*2+10*/
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}

.mainnav{
	height: 80px;
	width: 80px;/*120/960*/
	float: left;
	background-color: #9bcce6;/*#c9e7f7*/
	line-height: 80px;
	float: right;
	
}

/* mainpart */



#mechanical{
	width: 100%;
	height: 450px;/*delete+320*/
}

#graphic{
	width: 100%;
	height: 770px;/*delete+320*/
}

#sketches{
	width: 100%;/*960/960*/
	height: 1450px;/*1130+320*/
}

.portfolioitem{
	width: 300px;/*300/960*/
	height: 300px;
	background-color: #888888;
	margin: 10px;
	float: left; 
}

/*  footer  */
.footer{
	width: 100%;
	height: 150px;
	background-color: #9bcce6;/*#c9e7f7;*/
	text-align: center;
	border-top: 1px solid #d9d7d6;
}

.footercontainer{
	width: 90%;
	min-width: 640px !important;
	height: 150px;
	margin: 0 auto;
}

.rights{
	height: 25px;
	width: 100%;
	padding-top: 50px;
	padding-left: 5px;
	margin: 0 auto;
	color: white;
	font-weight: bolder;
	text-shadow: 0px 1px 3px #4596FF;

	text-align: left;
}

.social{
	height:75px;
	width: 100%;/*50/96*/
	/*background-color: #135975;*/
	margin: 0 auto;

	color: white;
	font-weight: bolder;
	text-shadow: 0px 1px 3px #4596FF;
}

.social .buttonlist{
	height: 50px;
	width:152px;
	/*margin: 0 auto;*/
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.social .buttonlist .button{
	color: white;
	float: left;
	margin: 5px;
}

/*--------------  Robot Updated  ----------------*/

section{
	border-bottom: 1px solid white;
}

.robotcontainer{
	width: 90%;
	min-width:640px !important;
	/*height: 1900px;*/
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}

.contenthead{
	padding-left: 10px;
}

#robotheader.projectsec{
	
	height: 100px;
	/*text-align: center;*/
		
}

.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#robotbackground.projectsec{
	
	/*height: 350px;*/
	padding-bottom: 20px;
		
}

#robotbackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#robotbackground.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#robotlogo.projectsec{
	
	height: 700px;
	padding-bottom: 20px;
		
}

#robotlogo.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#robotlogo.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#robotlogo.projectsec .logoname{
	/*margin: 10px;*/
	width: 100%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	
	
}

#robotlogo.projectsec .logoimg{
	/*margin: 10px;*/
	width: 100%;
	margin: 0 auto;
	/*padding-left: 10%;
	padding-right:10%;*/ 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	/*float: left;*/
	text-align: center;
	
}



#robotpdf.projectsec{
	
	/*height: 650px;*/
	/*background-color: black;*/
	padding-bottom: 20px;
}

#robotpdf.content{
	width: 100%;
	height: 200px;
	
	
}

/*----add info bar------*/

.robotinfobar{
	display: none;
}

/*---info bar done-----*/


/*--------------  Robot Updated Done----------------*/

/*--------------  Chair  ----------------*/

.chaircontainer{
	width: 90%;
	min-width:640px !important;
	/*height: 2600px;*/
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}

#chairheader.projectsec{
	
	height: 100px;
	/*text-align: center;*/
		
}

.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#chairbackground.projectsec{
	
	/*height: 250px;*/
	padding-bottom: 20px;
		
}

#chairbackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#chairbackground.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#chairlogo.projectsec{
	
	height: 700px;
	padding-bottom: 20px;
		
}

#chairlogo.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#chairlogo.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#chairlogo.projectsec .logoname{
	/*margin: 10px;*/
	width: 50%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logoimg{
	/*margin: 10px;*/
	width: 30%;
	padding-left: 10%;
	padding-right:10%; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logoimg2{
	/*margin: 10px;*/
	width: 50%;
	padding-left: 0%;
	padding-right:0%; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logostep{
	
	width: 100%;
	margin: 0 auto;
	height: 100px;
	
}

#chairlogo.projectsec .logostep .number{
	
	width: 20%;
	height: 70px;
	line-height: 70px;
	float: left;
	color: #3b3b3b;
	font-size: 1.2em;
	color: white;
	background-color: #c9e7f7;
	/*font-weight: regular;*/
	text-shadow: 0px 1px 3px #4596FF;



}

#chairlogo.projectsec .logostep .steptext{
	
	width: 80%;
	height: 70px;
	/*text-align: center;*/
	float: left;

}

#chairlogo.projectsec .logostep .substep{
	text-align: center;
	font-size: 0.9em;
	height: 30px;
	line-height: 30px;
	
}

#chairlogo.projectsec .logostep .substeptext{
	
	width: 80%;
	height: 30px;
	/*text-align: center;*/
	float: left;
	font-size: 0.9em;
}

#chairvideo.projectsec{
	
	height: 850px;
	/*background-color: black;*/
		
}

#chairvideo.content{
	width: 100%;
	height: 200px;
	
	
}

#chairpdf.projectsec{
	
	height: 650px;
	/*background-color: black;*/
		
}

#chairpdf.content{
	width: 100%;
	height: 200px;
	
	
}

img.chairstructurepic{
	width: 100%;
	max-width: 250px;
}

/*----add info bar------*/

.chairinfobar{
	display: none;
}

/*---info bar done-----*/


/*--------------  Chair Done----------------*/


/*----------------- Journal Pic------------------*/

.journalcontainer{
	width: 90%;
	min-width:640px !important;
	margin: 0 auto;
	padding-top: 80px;
	
}

#journallogo.projectsec .logoimg{
	
	width: 50%;
	 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#journalbackground.projectsec {
	height: auto;
	padding-bottom: 20px;
}

#journalbackground.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#journallogo.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#journalsubcover.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#journallogo.journallogopic{
	margin: 0 auto;
	width: 100%;
	max-width: 150px;
}

.subcoversplit{
	width: 100%;
	max-width: 500px;
}

#journalsubcover.projectsec .textimg{
	
	width: 70%;
	
	margin: 0 auto;
	padding-top: 20px;
	
	position: relative;
	
}

/*----Journal add info bar------*/

.journalinfobar{
	display: none;
}

/*---info bar done-----*/

/*----------------- Journal Pic Done------------------*/

/*----------------- Yo ------------------*/



.yocontainer{
	width: 90%;
	min-width:640px !important;
	margin: 0 auto;
	padding-top: 80px;
	
}

#yoinfo .content{
	width:100%;
	height: auto;
	
}

#yobackground.projectsec {
	height: auto;
	padding-bottom: 20px;
}

#yobackground.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}



/*----add info bar------*/

.yoinfobar{
	display: none;
}

/*---info bar done-----*/


/*----------------- yo Done------------------*/


/*----------------- Single Serve------------------*/

#singlelogo.projectsec{
	
	padding-bottom: 20px;
		
}


#singlelogo.projectsec{
	
	
	height: 600px;
		
}
.singlecontainer{
	width: 90%;
	min-width: 640px !important;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 20px;
	
}

#singleinfo .content{
	width:100%;
	height: auto;
	
}

#singlebackground.projectsec {
	height: auto;
	padding-bottom: 20px;
}

#singlebackground.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}


/*----add info bar------*/

.singleinfobar{
	display: none;
}

/*---info bar done-----*/


/*----------------- Single Serve Done------------------*/

/*--------------  about  ----------------*/

.aboutcontainer{
	width: 90%;
	min-width:640px !important;
	
	height: 700px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}


#aboutbackground .projectsec{
	
	height: 500px;
		
}

#aboutbackground .content{
	width: 100%;
	margin: 0 auto;
	/*background-color: yellow;*/
	/*position: relative;*/
	
}

#aboutbackground.projectsec .text{
	margin: 10px;
	width: 100%;
	/*padding-left: 15%;*/
	margin: 0 auto;
	position: relative;
	
}

.selfimg{
	width: 40%;
	float: right;
	margin-left: 10%;
	margin-left: 0;
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 20px;

	/*display: none;*/
}

.selfimg2{
	display: none;
}

.selftext{
	width: 50%;
	float: right;
	margin:0;
	position: absolute;
	left: 0;
	top: 0;


}

/*--------------  about Done----------------*/


/*--------------  sitelog---------------*/

.sitelogo{
	height: 80px;
	width: 300px;/*200/960*/
	/*background-color: yellow;*/
	/*float: left;*/
	margin-left: 4px;
	margin-right: 10px;
	position: absolute;
	left: 5px;
	top: 0;

}

h6{
	font-size: 2.2em;
	height: 80px;
	line-height: 80px;
	margin: 0;
	color: white;
	text-shadow:0px 1px 3px #4596ff;
}

h6 span{
	color: #3bacdc;
}

/*-------------- sitelogo done----------------*/


}

@media only screen and (max-width: 640px){


.navcontainer{
	height: 80px;
	width: 90%;
	min-width: 320px;
	margin: 0 auto;
	/*background-color: red;*/
	position: relative;
	
}

.navbar{
	width: 80px;
}

.portfoliocontainer{
	width: 320px;
	margin: 0 auto;
	padding-top: 80px;
	
}

.mainnav{
	height: 20px;
	width: 80px;
	float: left;
	background-color: #9bcce6;/*c9e7f7;*/
	line-height: 20px;
	float: right;
	margin-bottom:3px;
	margin-top: 3px;
}

/* mainpart */



#mechanical{
	width: 100%;
	height: 770px;/*450+320*/
}

#graphic{
	width: 100%;
	height: 1090px;/*770+320*/
}

#sketches{
	width: 100%;/*960/960*/
	height: 2410px;/*1450+320*3*/
}

.portfolioitem{
	width: 300px;/*300/960*/
	height: 300px;
	background-color: #888888;
	margin: 10px;
	float: left; 
}

/* mainpart in portfolio*/



/*--------------  Robot Updated  ----------------*/

section{
	border-bottom: 1px solid white;
}

.robotcontainer{
	width: 100%;
	max-width:960px;/*960/960*/
	height: 1900px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}

#robotheader.projectsec{
	
	height: 100px;
	text-align: left;
	padding-left: 30px;
		
}

.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

.contenthead{
	padding-left: 40px;
}

#robotbackground.projectsec{
	
	/*height: 350px;*/
	padding-bottom: 20px;
		
}

#robotbackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#robotbackground.projectsec .text{
	margin: 10px;
	width: 88%;
	padding-left: 40px;
	margin: 0 auto;
	
}

#robotlogo.projectsec{
	
	height: 700px;
	padding-bottom: 20px;
		
}

#robotlogo.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#robotlogo.projectsec .text{
	margin: 10px;
	width: 90%;
	padding-left: 40px;
	margin: 0 auto;
	
}

#robotlogo.projectsec .logoname{
	/*margin: 10px;*/
	width: 100%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	
	
}

#robotlogo.projectsec .logoimg{
	/*margin: 10px;*/
	width: 100%;
	margin: 0 auto;
	/*padding-left: 10%;
	padding-right:10%;*/ 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	/*float: left;*/
	text-align: center;
	
}



#robotpdf.projectsec{
	
	/*height: 650px;*/
	/*background-color: black;*/
	padding-bottom: 20px;
}

#robotpdf.content{
	width: 100%;
	height: 200px;
	
	
}

/*----add info bar------*/

.robotinfobar{
	display: none;
}


/*---info bar done-----*/

/*--------------  Robot Updated Done----------------*/


/*--------------  Chair  ----------------*/

.chaircontainer{
	width: 100%;
	max-width:960px;/*960/960*/
	/*height: 2600px;*/
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}

#chairheader.projectsec{
	
	height: 100px;
	text-align: left;
	padding-left: 30px;
}

.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#chairbackground.projectsec{
	
	/*height: 250px;*/
	padding-bottom: 20px;
		
}

#chairbackground .content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#chairbackground.projectsec .text{
	margin: 10px;
	width: 88%;
	padding-left: 40px;
	margin: 0 auto;
	
}

#chairlogo.projectsec{
	
	height: 700px;
	padding-bottom: 20px;
		
}

#chairlogo.content{
	width: 100%;
	height: 200px;
	/*background-color: yellow;*/
	position: relative;
	
}

#chairlogo.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#chairlogo.projectsec .logoname{
	/*margin: 10px;*/
	width: 50%;
	padding-left: 0;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logoimg{
	/*margin: 10px;*/
	width: 30%;
	padding-left: 10%;
	padding-right:10%; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logoimg2{
	/*margin: 10px;*/
	width: 50%;
	padding-left: 0%;
	padding-right:0%; 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

#chairlogo.projectsec .logostep{
	
	width: 100%;
	margin: 0 auto;
	height: 100px;
	
}

#chairlogo.projectsec .logostep .number{
	
	width: 20%;
	height: 70px;
	line-height: 70px;
	float: left;
	color: #3b3b3b;
	font-size: 1.2em;
	color: white;
	background-color: #c9e7f7;
	/*font-weight: regular;*/
	text-shadow: 0px 1px 3px #4596FF;



}

#chairlogo.projectsec .logostep .steptext{
	
	width: 80%;
	height: 70px;
	/*text-align: center;*/
	float: left;

}

#chairlogo.projectsec .logostep .substep{
	text-align: center;
	font-size: 0.9em;
	height: 30px;
	line-height: 30px;
	
}

#chairlogo.projectsec .logostep .substeptext{
	
	width: 80%;
	height: 30px;
	/*text-align: center;*/
	float: left;
	font-size: 0.9em;
}

#chairvideo.projectsec{
	
	height: 850px;
	/*background-color: black;*/
		
}

#chairvideo.content{
	width: 100%;
	height: 200px;
	
	
}

#chairpdf.projectsec{
	
	height: 650px;
	/*background-color: black;*/
		
}

#chairpdf.content{
	width: 100%;
	height: 200px;
	
	
}

img.chairstructurepic{
	width: 100%;
	max-width: 250px;
}

/*----add info bar------*/

.chairinfobar{
	display: none;
}

/*---info bar done-----*/

/*--------------  Chair Done----------------*/

/*----------------- Journal Pic------------------*/

#journalheader.projectsec {
height: 100px;
text-align: left;
padding-left: 30px;
}

#journallogo.projectsec .logoimg{
	
	width: 50%;
	 
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #3bacdc;
	float: left;
	text-align: center;
	
}

.journallogopic{
	margin: 0 auto;
	width: 100%;
	max-width: 150px;
}

.subcoversplit{
	width: 100%;
	max-width: 500px;
}

/*----add info bar------*/

.journalinfobar{
	display: none;
}

/*---info bar done-----*/


/*----------------- Journal Pic Done------------------*/

/*----------------- Yo ------------------*/



.yocontainer{
	width: 90%;
	min-width:320px !important;
	margin: 0 auto;
	padding-top: 80px;
	
}

#yoheader.projectsec {
height: 100px;
text-align: left;
padding-left: 0px;
}

#yoinfo .content{
	width:100%;
	height: auto;
	
}

#yobackground.projectsec {
	height: auto;
	padding-bottom: 20px;
}

#yobackground.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#yobackground.projectsec .contenthead {
	padding-left: 10px;
}



/*----add info bar------*/

.yoinfobar{
	display: none;
}

/*---info bar done-----*/


/*----------------- yo Done------------------*/


/*----------------- Single Serve------------------*/

.singlecontainer{
	width: 90%;
	min-width:320px !important;
	margin: 0 auto;
	padding-top: 80px;
	
}

#singleheader.projectsec {
height: 100px;
text-align: left;
padding-left: 0px;
}

#singleinfo .content{
	width:100%;
	height: auto;
	
}

#singlebackground.projectsec {
	height: auto;
	padding-bottom: 20px;
}

#singlebackground.projectsec .text{
	margin: 10px;
	width: 100%;
	padding-left: 10px;
	margin: 0 auto;
	
}

#singlebackground.projectsec .contenthead {
	padding-left: 10px;
}

#singlelogo.projectsec {
	height: 500px;
}

#singlelogo.projectsec .contenthead{
	padding-left: 10px;
}

/*----add info bar------*/

.singleinfobar{
	display: none;
}

/*---info bar done-----*/


/*----------------- Single Serve Done------------------*/

/*--------------  about  ----------------*/

.aboutcontainer{
	width: 90%;
	min-width: 320px !important;
	
	height: 1050px;
	/*background-color: black;*/
	margin: 0 auto;
	padding-top: 80px;
	
}



.projectsec{
	width: 100%;
	max-width: 960px;
	/*height: 500px;*/
	/*background-color: red;*/

}

#aboutbackground .projectsec{
	
	height: 500px;
		
}

#aboutbackground .content{
	width: 640px;
	margin: 0 auto;
	/*background-color: yellow;*/
	/*position: relative;*/
	
}

#aboutbackground.projectsec .text{
	margin: 10px;
	width: 100%;
	height: 1000px;
	/*padding-left: 15%;*/
	margin: 0 auto;
	position: relative;
	
}

.selfimg{
	width: 320px;
	/*float: right;*/
	/*margin-left: 10%;*/
	margin-left: 0;
	/*position: absolute;
	right: 0;
	top: 0;
	padding-top: 20px;*/

	display: none;
}


.selfimg2{
	width: 80%;
	/*float: right;*/
	/*margin-left: 10%;*/
	margin-left: 0;
	/*position: absolute;
	right: 0;
	top: 0;
	padding-top: 20px;*/

	display: block;
}

.selftext{
	width: 80%;
	/*float: right;*/
	margin:0;
	/*position: absolute;
	left: 0;
	top: 0;*/


}

/*--------------  about Done----------------*/

/*--------------  sitelog---------------*/

.sitelogo{
	height: 80px;
	width: 250px;/*200/960*/
	/*background-color: yellow;*/
	/*float: left;*/
	margin-left: 4px;
	margin-right: 10px;
	position: absolute;
	left: 5px;
	top: 0;

}

h6{
	font-size: 1.6em;
	height: 80px;
	line-height: 80px;
	margin: 0;
	color: white;
	text-shadow:0px 1px 3px #4596ff;
}

h6 span{
	color: #3bacdc;
}
/*-------------- sitelogo done----------------*/


/*  footer  */
.footer{
	width: 100%;
	height: 150px;
	background-color: #9bcce6;/*#c9e7f7;*/
	text-align: center;
	border-top: 1px solid #d9d7d6;
}

.footercontainer{
	width: 90%;
	min-width: 320 !important;
	height: 150px;
	margin: 0 auto;
}

.rights{
	font-size: 0.9em;
	height: 25px;
	width: 100%;
	padding-top: 50px;
	padding-left: 5px;
	margin: 0 auto;
	color: white;
	font-weight: bolder;
	text-shadow: 0px 1px 3px #4596FF;

	text-align: left;
}

.social{
	height:75px;
	width: 100%;/*50/96*/
	/*background-color: #135975;*/
	margin: 0 auto;

	color: white;
	font-weight: bolder;
	text-shadow: 0px 1px 3px #4596FF;
}

.social .buttonlist{
	height: 50px;
	width:152px;
	/*margin: 0 auto;*/
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.social .buttonlist .button{
	color: white;
	float: left;
	margin: 5px;
}

}