@media only screen and (min-width: 720px) and (max-width: 960px){

.beforetext{
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}
/*----------- Robot -------------*/
	#robotback{
		height:350px;
	}

	#robotpic{
		height:450px;
	}

	#robotpdf{
		height:730px;
	}

	#robotrole{
		height:400px;
	}
/*----------- Robot Done-------------*/

/*----------- chair -------------*/
	#chairback{
		height:420px;
	}

	#chairpic{
		height:800px;
	}

	#chairpdf{
		height:730px;
	}

	#chairrole{
		height:400px;
	}
/*----------- chair Done-------------*/

/*----------- journal -------------*/
	#journalback{
		height:480px;
	}

	#journalpic{
		height:930px;
	}

	#journalpdf{
		height:730px;
	}

	#journalrole{
		height:380px;
	}
/*----------- journal Done-------------*/
/*----------- yo -------------*/
	#yoback{
		height:480px;
	}

	#yopic{
		height:930px;
	}

	#yopdf{
		height:730px;
	}

	#yorole{
		height:380px;
	}
/*----------- yo Done-------------*/
/*----------- single -------------*/
/*	#singleback{
		height:480px;
	}*/

	#singlepic{
		height:780px;
	}

	#singlepdf{
		height:730px;
	}

	#singlerole{
		height:350px;
	}
/*----------- single Done-------------*/

}

@media only screen and (min-width: 480px) and (max-width: 720px){

.halftext{
	display: none;
}
.singlepic{
	display: none;
}
.fulltext{
	display: block;
	padding-bottom: 10px;
}
.info{
	font-size: 0.7em;
}
.beforetext{
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}
/*----------- Robot -------------*/
	#robotback{
		height:380px;
		background-color: rgba(125,125,125,0.07);
	}

	#robotpic{
		height:900px;
		background-color: rgba(125,125,125,0.07);
	}

	#robotpdf{
		height:650px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#robotrole{
		height:400px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- Robot Done-------------*/
/*----------- chair -------------*/
	#chairback{
		height:450px;
		background-color: rgba(125,125,125,0.07);
	}

	#chairpic{
		height:1400px;
		background-color: rgba(125,125,125,0.07);
	}

	#chairpdf{
		height:650px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#chairrole{
		height:400px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- chair Done-------------*/

/*----------- journal -------------*/
	#journalback{
		height:550px;
		background-color: rgba(125,125,125,0.07);
	}

	#journalpic{
		height:1200px;
		background-color: rgba(125,125,125,0.07);
	}

	#journalpdf{
		height:700px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#journalrole{
		height:380px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- journal Done-------------*/

/*----------- yo -------------*/
	#yoback{
		height:550px;
		background-color: rgba(125,125,125,0.07);
	}

	#yopic{
		height:1200px;
		background-color: rgba(125,125,125,0.07);
	}

	#yopdf{
		height:700px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#yorole{
		height:380px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- yo Done-------------*/
/*----------- single -------------*/
/*	#singleback{
		height:550px;
		background-color: rgba(125,125,125,0.07);
	}*/

	#singlepic{
		height:500px;
		background-color: rgba(125,125,125,0.07);
	}

	#singlepdf{
		height:700px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#singlerole{
		height:450px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- single Done-------------*/


}

@media only screen and (max-width: 480px){

.halftext{
	display: none;
}
.singlepic{
	display: none;
}
.fulltext{
	display: block;
	padding-bottom: 10px;
}

.beforetext{
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
}

.roletext{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}
.role h2{
	padding-top: 5px;
	padding-bottom: 5px; 
}

/*----------- Robot -------------*/
	#robotback{
		height:580px;
		background-color: rgba(125,125,125,0.07);
	}

	#robotpic{
		height:680px;
		background-color: rgba(125,125,125,0.07);
	}

	#robotpdf{
		height:650px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#robotrole{
		height:700px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- Robot Done-------------*/

/*----------- chair -------------*/
	#chairback{
		height:450px;
		background-color: rgba(125,125,125,0.07);
	}

	#chairpic{
		height:1400px;
		background-color: rgba(125,125,125,0.07);
	}

	#chairpdf{
		height:700px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#chairrole{
		height:580px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- chair Done-------------*/

/*----------- journal -------------*/
	#journalback{
		height:710px;
		background-color: rgba(125,125,125,0.07);
	}

	#journalpic{
		height:1230px;
		background-color: rgba(125,125,125,0.07);
	}

	#journalpdf{
		height:700px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#journalrole{
		height:830px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- journal Done-------------*/
/*----------- yo -------------*/
	#yoback{
		height:550px;
		background-color: rgba(125,125,125,0.07);
	}

	#yopic{
		height:1200px;
		background-color: rgba(125,125,125,0.07);
	}

	#yopdf{
		height:700px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#yorole{
		height:500px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- yo Done-------------*/
/*----------- single -------------*/
	#singleback{
		height:300px;
		background-color: rgba(125,125,125,0.07);
	}

	#singlepic{
		height:400px;
		background-color: rgba(125,125,125,0.07);
	}

	#singlepdf{
		height:700px;
		background-color: rgba(125,125,125,0.07);
		padding-bottom: 10px;
	}

	#singlerole{
		height:580px;
		background-color: rgba(125,125,125,0.07);
	}



/*----------- single Done-------------*/


}